@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --branco: #FFFFFF; 
    --verde: #018B80; 
    --pink: #FF57EE;
    --amarelolima: #CBDF4E;
    --darkazul: #3A375E;
    --verdeagua: #3EF39D;
    --roxoescuro: #48375E;
    --botao-inativo:rgba(58, 55, 94, 0.5);
    --botao-ativo:rgba(72, 55, 94, 1);  
}
body{
    background-color: var(--verde);
    color: var(--branco);
    font-family: 'Chakra Petch', 'Sans-Serif';
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(--darkazul);
}